:root {
    --textColor: #1A1A1A;
    --primaryColor: #006EB6;
    --focusColor: #7b2d26;
    --backgroundColor: #ffffff;
		--header-background: #006EB6;
  --callout-background-color: #eaeaea;
  --linkColor: #006EB6;
  --linkVisited: #561E4C;
  --codeColor: #1e6685;
  --kbdColor: #1e6685;
  --textLight: #f0f3f5;
}

// Very basic support for a dark color scheme
@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark';
    }

    :root:not([data-user-color-scheme]) {
        --backgroundColor: #1A1A1A;
        --textColor: #eeeeee;
        --primaryColor: #006EB6;
				--callout-background-color: #888;
				--linkVisited: #915686;
    }
}
